{{ define "main" }}
    <h3>
        {{.Title}} 
        <a id="strava-profile-link" style="float:right;" href="https://www.strava.com/athletes/3552257">
            <img src="{{.Site.BaseURL}}/strava.jpg" style="width:7vmin; height: auto;">
        </a>
    </h3> 
    <br/>
    <p>

    <div class="strava-widget-container">
        <iframe id="strava-weekly-symmary" height='160' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/3552257/activity-summary/6b04edd3cf3a6626b994cab02529367eee371df9'>
            &nbsp;
        </iframe>
    </div>
    {{ .Content }}
    {{if .Content }}
        <br/>
    {{end}}
    <ul>
        {{range .Pages }}
            {{ if .IsPage }}
                <li>
                    <p>{{.Date.Format "2006-01-02"}} - <a href={{.Permalink}}> {{.Title}} </a> </p>
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
